
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ps-5 ">
      <a class="navbar-brand" href="/">EngSoft</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/cadastro-requisito">Inserir Requisito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/incluir-projeto">Incluir Projeto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/visualiza-reqfunc">Visualizar MES</a>
        </li>
  
      </ul>
    </nav>
