
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ps-5 ">
      <a class="navbar-brand" href="/">EngSoft</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Módulo 1
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/cadastro-requisito">Inserir Requisito</a>
            <a class="dropdown-item" href="/incluir-projeto">Incluir Projeto</a>
            <a class="dropdown-item" href="/visualiza-reqfunc">Visualizar MES</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Módulo 2
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/analise-de-riscos">Análise de riscos</a>
           
          </div>
        </li>
     
  
      </ul>
    </nav>
